---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "download.scss";
@import "home.scss";

.img-patrons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  img {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 30%;
  }
}

#memberList li {
  display: inline;
  width: 33%;
  float: left;
}

.navbar a.active {
  background-color: #fff;
}

.app-logo img {
  height: 44px;
  margin-bottom: 2px;
  background-color: white;
}

.navbar .navbar-brand.active {
  height: 42px;
  margin-left: 20px;
}
.dropdown-item {
  color: #212529 !important;
}

blockquote {
  border-left: #bdc3c7 3px solid;
  padding-left: 4px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    margin-left: 20px; 
  }
}
