<div class="row">
    <div class="">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>The year began with young students busily collaborating with mentors on small tasks: coding, documentation and training, outreach and research, and quality assurance. Teens aged thirteen to seventeen completed a large number of tasks: they built an application from source, reviewed and merged patches into a master branch, presented the program to the classroom via a livestream, and tested, triaged, and fixed numerous bugs. Season of KDE is a mentored, non-paid program that KDE has run for many years.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>Every year we get wonderful work done, and 2016 was no exception. Students who successfully finished their tasks were rewarded with goodies and certificates of completion. Finally, Google Summer of Code was our biggest effort, with thirty-two students successfully completing their projects. You can see the presentations of their work <a href="https://community.kde.org/GSoC/2016/StatusReports" target="_blank">here</a>. Google Code-in started on November 28, and KDE participated with a number of great mentors.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
