---
title: "KDE e.V. Financial Working Group"
layout: page
---

<h2>Goals</h2>

<p>The Financial Working Group has the following goals:
<ul>
<li>Support KDE e.V. Board in Financial topics.</li>
<li>In collaboration with the Treasurer, propose financial decisions to the KDE e.V. Board.</li>
<li>Support Board members in commercial activities.</li>
<li>Support the Treasurer in communication actions related to financial topics.</li>
<li>Evaluate the regular financial reports done by the Treasurer.</li>
</ul>
</p>

<h2>Rules</h2>

<p>The members are selected by the KDE e.V. for a two-year period.</p>

<p>The KDE e.V. board member who vacates the position of treasurer at the end of a regular duty cycle on the board automatically joins the Financial Working Group membership for a two-year period.</p>

<p>The Financial Working Group members cannot be selected as auditors of accounting.</p>

<p>Members can step down from the Financial Working Group at any time.</p>

<h2>Members</h2>

<p>
<ul>
  <li>Marta Rybczynska marta.rybczynska@kde.org (December 12th, 2017)</li>
  <li>Roman Gilg subdiff@gmail.com (June 22nd, 2018)</li>
  <li>David Edmundson david@davidedmundson.co.uk (May 19th, 2019)</li>
  <li>Daniele E. Domenichelli ddomenichelli@drdanz.it (May 19th, 2019)</li>
  <li>Neofytos Kolokotronis neofytosk@posteo.net (May 19th, 2019)</li>
</ul>
</p>

<h2>Contact</h2>

<a href="mailto:kde-ev-financial-wg@kde.org">kde-ev-financial-wg@kde.org</a>
