<p>On the 5th and 6th of November, Nicolas Fella, Roman Gilg, and I represented KDE at the Qt World Summit 2019 in Berlin.</p>
 
<p>This year we set up a lounge area upstairs for people to chat, see our hardware and software offerings, as well as charge their phones between talks. At the center of our booth, we had a large KDE-branded table with various bits of swag and a KDE Slimbook on display which we used as our main device for demoing our extensive KDE Applications and Frameworks offerings. </p>

<p>We also had a dedicated table for our mobile effort where we showcased our KDE apps for Android and of course Plasma Mobile. The latter of which we had running on a good ole Nexus 5X and more importantly the Librem 5 Dev Kit by Purism. Unfortunately, the Pinephone developer kits we had been hoping to show as well hadn’t been shipped in time for the event. </p>

<p>Another unusual device we presented was the One Mix 2S – a 7″ convertible laptop featuring an Intel Atom processor rather than something ARM-based. The One Mix also has a selection of ports you expect from a full-sized laptop, such as USB-C/A and HDMI, making it an interesting choice for use in a docking station setup. It ran an experimental version of Plasma Wayland with automatic screen rotation and tablet mode toggle which increases the hit area for controls and the spacing between them. Finally, our booth also featured a Pinebook which impressively showed how well our software performs on slow but cheap hardware. </p>

<p>Next morning we had a panel discussion at 8 am on contributing to Qt. Surprisingly, despite the party the evening before, we ran out of chairs in that room. Lars Knoll did a live demonstration on how to actually submit a Qt patch using Gerrit and then we all discussed the pros and cons of contributing upstream. Sadly, there was no recording.</p>

<p>Since the three of us were pretty busy running this large stand, there wasn’t much free time to sit in any of the presentations. I did get a chance on the second day of the event to attend Ulf Hermann’s talk on the future of QML which is a very important topic for the advancement of Plasma. Overall their changes planned for QML 3 in Qt 6 sound reasonable, but given the sheer number of to-do items mentioned during the presentation, I thought it was somewhat early to assess the impact on our software stack.</p>
