<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ site.title }}</title>

  {% if page.summary %}
  <meta name="description" content="{{ page.summary | escape }}">
  {% endif %}
  {% if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
  {% endif %}

  <!-- Icons -->
  <link href="https://kde.org/assets/aether/media/192x192.png" rel="icon" sizes="192x192" />
  <link href="https://kde.org/assets/aether/media/180x180.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="https://kde.org/assets/aether/media/128x128.svg}" rel="icon" sizes="128x128" />
  <link href="https://kde.org/assets/aether/media/64x64.svg" rel="icon" sizes="64x64" />
  <link href="https://kde.org/assets/aether/media/32x32.svg" rel="icon" sizes="32x32" />
  <link href="https://kde.org/assets/aether/media/24x24.svg" rel="icon" sizes="24x24" />
  <link href="https://kde.org/assets/aether/media/16x16.svg" rel="icon" sizes="16x16" />

  <link href="https://cdn.kde.org/aether-devel/bootstrap.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ '/css/report.css' | relative_url }}">
  <script src="https://cdn.kde.org/aether-devel/bootstrap.js?{{ version }}" defer=""></script>

  <link href="../shared-assets/css/animate.min.css" rel="stylesheet"/>
  <link href="../shared-assets/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../shared-assets/css/lightbox.css" rel="stylesheet"/>
  <link href="../shared-assets/css/main.css" rel="stylesheet"/>
</head>
<body>
  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/1.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">
              <span>KDE e.V.</span> COMMUNITY REPORT<br/>
            </h1>
            <p class="animated fadeInLeftBig">
              <img class="img-responsive center-block" src="../shared-assets/images/logo.png" alt="logo"/>
            </p>
            <p class="animated fadeInRightBig">2019 | Issue 36</p>
            <p class="animated fadeInRightBig">July 2020</p>
            <a data-scroll="" class="btn btn-start animated fadeInUpBig" href="#welcome-message-pre">Read now</a>
          </div>
      </div>
    </div>
    <a id="tohash" href="#welcome-message-pre">
      <i class="fa fa-angle-down"></i>
    </a>
  </div>
</header>
<header class="header">
  <nav class="navbar navbar-expand-lg">
    <a class="app-logo navbar-brand active" href="https://ev.kde.org" target="_blank">
      <img src="../shared-assets/images/logo.png" alt="logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-kde" aria-controls="navbar-kde" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-kde">
      <ul class="navbar-nav mr-auto">
        {% for menu in page.menu %}
          <li class="nav-item">
              <a class="nav-link {% if menu.title == "Home" %}active{% endif %}" href="/" aria-haspopup="true" aria-expanded="false">
              {{ menu.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
<main>
{% for menu in page.menu %}
  {% if menu.home %}
  {% else %}
    {% if menu.heading %}
      <article class="container">
        <h2>
          <img src="{{ menu.image }}" alt="" />
          {{ menu.heading }}
        </h2>
        <h3 class="text-muted">By {{ menu.author }}</h3>
        {% if menu.include %}
          {% capture my_include %}{% include_relative {{ menu.include }} %}{% endcapture %}
          {{ my_include | markdownify }}
        {% endif %}
      </article>
    {% endif %}
    {% for item in menu.items %}
      {% if item.heading %}
      <section class="bg-light py-3 mb-3">
        <h2 class="container">{{ item.heading }}</h2>
      </section>
      {% endif %}
      {% for subitem in item.items %}
        <article class="container">
         {% if subitem.heading %}
           <h2>
             <img src="{{ subitem.image }}" alt="" />
             {{ subitem.heading }}
           </h2>
           <h3 class="text-muted">{{ subitem.author }}</h3>
        {% endif %}
        {% capture my_include %}{% include_relative {{ subitem.include }} %}{% endcapture %}
        {{ my_include | markdownify }}
        </article>
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}
{{ content }}
</main>
</body>
</html>
